/* pagina mural */
@import url(https://db.onlinewebfonts.com/c/5aef733c1739bd2fe66f5839b7bcb428?family=Perandory+Cond);
@import url('https://fonts.googleapis.com/css2?family=Schoolbell&display=swap');

@font-face {
  font-family: 'Amoresa';
  src: url('../fonts/amoresa.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TimesCond';
  src: url('../fonts/TimesNewRomanMTStd-CondIt.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Akzidenz';
  src: url('../fonts/BertholdAkzidenzGrotesk.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Railey';
  src: url('../fonts/Railey.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.label-captura {
  display: flex;
  justify-content: center;
}

.dash-right .avisos {
  width: 100%;
  color: rgb(216, 216, 216);
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.dash-right .avisos .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.div-canvas{
  width: 100%;
  height: 50%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
}

.dash-right .avisos .container .div-form {
  width: 95%;
}

.dash-right .avisos .container .div-form #form_postagem {
  width: 95%;
}

.dash-right .avisos .div-form label {
  width: 95%;
}

.dash-right .avisos .div-form input {
  width: 95%;
  border-radius: 5px;
}

.dash-right .avisos .div-form textarea {
  width: 95%;
  border: 3px solid #e6005a;
  background-color: rgb(235, 184, 184);
  border-radius: 5px;
}

.dash-right .avisos .div-form button {
  cursor: pointer;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: #e6005a;
  width: 120px;
}

.publicacao-btn-editar {
  cursor: pointer;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
  padding: 5px 8px;
  color: white;
  background-color: #e6005a;
  width: 80px;
}

.publicacao {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  border-bottom: 3px solid #e6005a;
  padding: 20px;
}

.publicacao>*:not(:last-child) {
  padding: 0 0 10px 0;
}

.div-results {
  width: 100%;
}

.div-results .feed-container {
  background-color: #000000;
  border-radius: 5px;
  margin-bottom: 80px;
}

.div-buttons {
  display: flex;
  justify-content: flex-end;
}

.div-buttons>* {
  margin-left: 30px;
}

/* pagina graficos */

.dash-header {
  background-color: #880b3b;
}

.dash {
  width: 70%;
  position: relative;
  top: 0;
  left: 12%;
  height: fit-content;
  border-radius: 0px 0px 0px 50px;
  background-color: #000000;
}

.area-parametros-alerta {
  /* border: 2px solid pink; */
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  height: 245px;
  margin: auto;
  border-radius: 50px 0px 0px 0px;
  border-bottom: 1px solid #d6d6d6;
}

.area-parametros-alerta .titulo-legenda {
  color: rgb(0, 0, 0);
  font-weight: 600;
  align-self: flex-start;
  width: fit-content;
  margin: 10px 40px;
  font-size: 30px;
  font-family: 'Akzidenz';

}

.parametros-alerta {
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
  height: 50%;
  display: flex;
  padding-left: 50px;
  background-color: #ffffff;
  width: 85%;
  gap: 20px;
}

.area-minhas-metricas {
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    overflow: auto;
    width: 18%;
    border-left: 1px solid #cecece;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.escolhas-usuario{
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 360px;
  width: 90%;
  border-radius: 5px;
  background-color:rgb(105, 26, 26);
  color: #fff;

}

.titulo-escolhas{
  font-family: 'Akzidenz';
  color: #ffff;
  font-size: 23px;
}

.dados-geral{
  width:80%;
  align-self: center;
  align-items: center;
  display: flex;
  margin: auto;
  color: #fff;
}

.item-regua {
  width: 70%;
  background-color: #5c6bc0;
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  border-radius: 10px;
  border:  solid 1px;
}

.item-regua p {
  margin: 0;
  font-weight: 500;
}

.item-regua p:nth-child(2) {
  font-weight: 800;
}

.perigo-frio {
  background-color:rgb(105, 26, 26);
  border: 2px solid #000;
  color: #fff ;
}

.perigo-quente {
  background-color:rgb(105, 26, 26);
  border: 2px solid #000;
  color: #fff ;
}

.alerta-frio {
  background-color: rgb(105, 26, 26);
  border: 2px solid #000;
  color: #fff ;
}

.alerta-quente {
  background-color:rgb(105, 26, 26);
  border: 2px solid #000;
  color: #fff ;
}

.ideal {
  background-color:rgb(105, 26, 26);
  border: 2px solid #000;
  color: #fff ;
  
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 280px;
  gap: 70px;
  padding-top: 30px;
  width: 100%;
  align-items: center;
  background-color: #ffffff;
}

.cards2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 400px;
  gap: 40px;
  width: 100%;
  padding-top: 20px;
  align-items: center;
  background-color: #ffffff;
  border-radius:  0px 0px 0px 50px;
}

.card-aquario {
  margin: 2%;
  min-width: 40%;
  max-width: 50%;
  width: fit-content;
  flex-wrap: wrap;
  display: flex;
  /* text-align: center; */
  height: 180px;
  /* justify-content: right; */
  background-color: #b02121;
  font-size: 20px;
}

.card-aquario h1 {
  width: fit-content;
}

.card-aquario p {
  margin: 0;
  font-size: 50px;
  font-weight: lighter;
  text-align: left;
}

.desc-aquario {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.desc-aquario .cor-alerta {
  width: 30px;
}

.title-aquario {
  width: 100%;
}


.cards h1 {
  font-size: 22px;
  border-bottom: solid white 1px;
  text-align: left;
  font-weight: lighter;
  margin: 20px;
}

.grafico {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  background-color: #ffffff;
  border: #000 solid 1px;
  border-radius: 10px;
}


.grafico-barra {
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 375px;
  height: 250px;
  border-radius: 10px;
  padding: 10px;
}

.grafico-barra .div-canvas{
  color: #000;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 220px;
  padding: 20px;
  border-radius: 10px;

}

.grafico-barra canvas {
  color: #000;
    width: 100% !important;
    height: 100% !important;
    max-width: 100%;
}

.temperatura,
.umidade {
  margin: 5px;
  margin-left: 20px;
  width: 75%;
}

.cor-alerta {
  width: 13%;
  height: 30%;
  border-radius: 50%;
  display: inline-block;
}

.btns-dash {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  flex-wrap: wrap;
  padding: 0 30% 0 30%;
}

.graph {
  width: 70%;
  margin: auto;
  padding-top: 10px;
}

.tituloGraficos {
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
}

.btn-chart {
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: 0;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: #ce8aa4;
  background-color: rgb(176, 21, 150);
  margin: 5px;
  border-radius: 3px;
  cursor: pointer
}

.btn-pink {
  color: white;
  background-color: #e6005a;
}

.btn-white {
  color: #e6005a;
  background-color: white;

}

.label-captura {
  height: 80px;
}

.display-none {
  display: none;
}

.display-flex {
  display: flex;
}

.display-block {
  display: block;
}

/* PAGINA DOS GRÁFICOS 2023 */

.janela {
  display: flex;
  background-color:rgb(0, 0, 0);
  /* width: 100vw; */
}

.header-left a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.header-left {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 100vh;
  width: 12%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #000000;
}

.dash-right {
  display: flex;
  width: 70%;
  height: fit-content;
  position: relative;
  top: 0;
  left: 25%;
  height: 150vh;
  overflow: auto;
}

.header-left h1 {
  align-self: center;
  color: #ffffff;
}

.hello {
  align-items: center;
  width: 100%;
  display: flex;
  justify-content: center;
}

.hello h3 {
  color: #ffffff;
  font-weight: 300;
  font-size: 1.2rem;
  align-items: center;
}

.hello h3 span {
  font-weight: 800;
}

.btn-nav {
  width: 40%;
  color: white;
  background-color: #08e600;
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
}

.btn-nav-white {
  width: 40%;
  background-color: white;
  border: 3px solid #304307;
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
}

.btn-nav-white h3 {
  color: #c69eae;
  padding: 0;
  margin: 0;
}

.btn-nav h3,
.btn-logout h3 {
  margin: 0;
  padding: 0;
}

.btn-logout {
  margin: 0;
  padding: 0;
  width: 20%;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border-radius: 10px;
  text-align: center;
  padding: 10px 15px;
  margin-bottom: 100px;
  cursor: pointer;
}

.btn-refazer  a{
  color: #000;
  margin-bottom: 0%;
  margin-top: 0%;

}
.btn-refazer {
  padding-bottom: 40px;
  width: 60%;
  height: 60px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border-radius: 10px;
  text-align: center; 
  cursor: pointer;
}