@import url(https://db.onlinewebfonts.com/c/5aef733c1739bd2fe66f5839b7bcb428?family=Perandory+Cond);
@import url('https://fonts.googleapis.com/css2?family=Schoolbell&display=swap');

@font-face {
  font-family: 'Amoresa';
  src: url('../fonts/amoresa.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TimesCond';
  src: url('../fonts/TimesNewRomanMTStd-CondIt.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Akzidenz';
  src: url('../fonts/BertholdAkzidenzGrotesk.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Railey';
  src: url('../fonts/Railey.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(0, 0, 0);
}

:root {
  --tamanho-header: 80px;
  --tamanho-banner: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-simulador: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-login: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-footer: 65px;
}

.container {
  display: flex;
  width: 80%;
  margin: auto;
}

.header {
  background-color: black;
  border-radius: 0px 0px 20px 20px;
}

.header .container {
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header a {
  text-decoration: none;
  color: #ffffff;
  margin-right: 20px;
}

.agora {
  font-weight: 800;
}

.navbar {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  color: #ffffff;
}

.btn-cadastro {
  display: flex;
  align-items: center;
  justify-items: center;
  margin-left: 10px;
  border-radius: 15px;
  height: 30px;
  width: 130px;
}

.btn-cadastro a {
  color: #000;
}

/* BANNER */

.banner {
  height: var(--tamanho-banner);
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  width: 100%;
}

.banner .container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.container-img {
  height: 100%;
  width: 55%;
}

.container-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* redimenciona para caber dentro do container e evitar disproporcao*/
}

.container-titulo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 45%;
}

.img1 {
  /*imagem do selo e xoxo*/
  position: absolute;
  top: 120px;
  right: 40px;
  display: flex;
}

.img2 {
  /*imagem estrela*/
  position: absolute;
  top: 250px;
  right: 20px;
}

.titulo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  height: 80%;
  color: #000;
}

.div-txt {
  display: flex;
  align-items: baseline;
  gap: 6px;
}

.div-txt2 {
  margin-left: 60px;
  display: flex;
  align-items: baseline;
  gap: 8px;
}

.letra-mai {
  font-family: 'Amoresa';
  font-size: 146px;
  line-height: 0.3;
}

.letra-min {
  font-family: "Perandory Cond";
  font-size: 136px;
  font-weight: 400;
  line-height: 0;
  /*define altura do texto de forma vertical entre paragrafos (P)*/
}

/* MISSÃO VISÃO VALORES */

.container-cards {
  background-color: #000;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cardPink {
  border-radius: 10px;
  justify-content: center;
  align-items: flex-start;
  height: 250px;
  display: flex;
  width: 680px;
  flex-direction: row;
  background-color: #2D5199;
  margin: 10px;
  color: #fff;
}

.cardLana {
  border-radius: 10px;
  justify-content: center;
  align-items: flex-start;
  height: 250px;
  display: flex;
  width: 680px;
  flex-direction: row;
  background-color: #DFD5BA;
  margin: 10px;
  color: #000000;
}

.cardOlivia {
  border-radius: 10px;
  justify-content: center;
  align-items: flex-start;
  height: 254px;
  display: flex;
  width: 680px;
  flex-direction: row;
  background-color: #886DCA;
  margin: 10px;
  color: #fff;
}

.cardSabrina {
  border-radius: 10px;
  justify-content: center;
  align-items: flex-start;
  height: 255px;
  display: flex;
  width: 680px;
  flex-direction: row;
  background-color: #9EABBC;
  margin: 10px;
  color: #fff;
}

.cardChapel {
  border-radius: 10px;
  justify-content: center;
  align-items: flex-start;
  height: 250px;
  display: flex;
  width: 680px;
  flex-direction: row;
  background-color: #570408;
  margin-top: 10px;
  color: #fff;
}

.box2 {
  height: auto;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

.box2 h4{
  margin-top: 1px;
}
.box2 p {
  font-size: 17px;
  margin-top: -10px;
}

.box1 {
  width: 50%;
}

.caixa {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  justify-content: center;
  align-items: center;
}

.caixa-container {
  background: #fff;
  padding: 30px;
  width: 80%;
  height: 80%;
  border-radius: 10px;
  text-align: center;
  align-items: center;
}
.caixa-content {
  align-items: center;
  justify-content: space-evenly;
  display: flex;
  flex-direction: row;
  padding: 30px;
  width: 90%;
  height: 80%;
  border-radius: 10px;
  text-align: center;
}

#caixa-spotify{
width: 50%;
}

.txt-artista{
  margin-left: 30px;
  height: 50%;
  background-position: center;
  border: #000 3px solid;
  border-radius: 10px;
  width: 50%;
}

.caixa-paragrafo {
  color: #000;
}

.fechar {
  color: #fff;
  position: absolute;
  top: 15px;
  right: 55px;
  font-size: 45px;
  cursor: pointer;
}

.container-quiz {
  height: auto;
  background-color: #000;
  margin: auto;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  display: flex;
}

.card-quiz {
  margin-top: 100px;
  border-radius: 20px;
  background-image: url(/assets/imgs/img-quiz.png);
  width: 67%;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 10px;
}

#titulo-quiz-index {
   display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  height: 120px;
  width: 270px;
  font-family: 'TimesCond';
  color: #ffffff;
  font-size: 130px;
  font-weight: 500;
  padding-top: 10px;

}

.span-title {
  font-size: 40px;
  font-family: 'Akzidenz';
  font-weight: 800;
  font-weight: bolder;
  color: #fff;
}

a {
  width: 100%;
  text-decoration: none;
}

.link-quiz {
  padding-right: 50px;
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
  height: 200px;



}

/* SOBRE MIM*/

.aboutMe {
  margin-top: 100px;
  height: 650px;
}

.aboutMe .container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}


.div-left {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
  width: 40%;
  background-color: #fffeed;

}

.img-top {
  width: 90%;
  display: flex;
  justify-content: flex-end;
}

.img-top img {
  width: 187px;
  height: 130px;
}

.img-me {
  display: flex;
  justify-content: center;
  height: auto;
  width: 100%;
}

.img-me img {
  width: 350px;
}

.img-bottom {
  width: 90%;
  height: 60px;
  display: flex;
  justify-items: center;
  align-items: center;
  padding-bottom: 10px;
}

.img-bottom img {
  padding-left: 30px;
  width: 97px;
  height: 105px;
}

.div-right {
  height: auto;
  background-color: #b9cfe0;
  width: 60%; 
  height: 90%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  color: #000;
  padding: 30px;
  font-family: "Schoolbell", cursive;
  font-weight: 400;
  font-style: normal;
}

.titulo-aboutMe {
  align-items: center;
}

.titulo {
  font-size: 50px;
  font-family: 'Railey';
}

.paragrafo-aboutMe {
  text-align: center;
  font-size: 23px;
}



/* FOOTER */

.footer {
  border-top: 4px dashed #5d5682;
  background-color: #ffffff;
  height: 150px;
  color: #000000;
  display: flex;
  font-weight: bold;
  font-size: 20px;
}

.footer .container {
  justify-content: center;
  text-align: center;
}

.footer .container .version {
  font-size: 12px;
}

/* LOGIN */

.login, .cadastro {
  height: 720px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.7)), url('/assets/imgs/fundo-login.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}


.login .imgtop {
  align-self: flex-start;
  width: 90%;
  display: flex;
  height: 160px;
  align-items: flex-end;
  justify-content: space-between;


}

.login .imgbottom {
  align-self: flex-start;
  width: 20%;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;

}

.login .container {
  justify-content: center;
  align-items: center;
  height: 67%;
  width: 60%;
}

.cadastro .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 80%;
}

.imgSticker1 {
  position: absolute;
  top: 110px;
  left: 130px;
  display: flex;
}
.imgSticker {
  position: absolute;
  bottom: 50px;
  right: 130px;
  display: flex;
}

.imgtop .img-canto {
  margin-top: 50px;
}

.imgLogin img {
  border-radius: 30px 0px 0px 30px;
}

.card-login {
  background-color: #6e241e;
  border-radius: 0px 10px 10px 0px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.card-cadastro {
  background-color: #6e241e;
  border-radius: 0px 10px 10px 0px;
  width: 100%;
  height: 102%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.titulo-form p {
  font-family: "Perandory Cond";
  color: #000000;
  font-weight: 500;
  font-size: 50px;

  padding-left: 40px;
  margin: 0%;
}


.titulo-form {
  height: 70px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

}

.formulario {
  background-color: rgb(255, 255, 255);
  display: flex;
  height: 85%;
  width: 90%;
  border-radius: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 15px;

}

.cadastro .formulario {
  background-color: rgb(255, 255, 255);
  display: flex;
  height: 90%;
  width: 90%;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.formulario span {
  font-size: 15px;
  font-weight: 800;
}

.campos-formulario {
  background-color: #ffffff;
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.formulario input {
  width: 300px;
  border: 2px solid #000000;
  text-align: center;
  border-radius: 30px;
  margin: 0;
}
.cadastro .formulario input {
  width: 400px;
  border: 2px solid #000000;
  text-align: center;
  border-radius: 30px;
  height: 15px;
  margin: 0;
}

.formulario select {
  border: 2px solid #000000;
  background-color: white;
  color: gray;
  height: 36px;
  text-align: center;
  border-radius: 10px;
  margin: 0;
}

.campo {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 5px 0;
}

.card-login .botao {
  cursor: pointer;
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 15px;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  background-color: #000000;
  width: 220px;
  height: 30px;
  align-self: center;
  margin-top: 20px;
}

.card-cadastro .botao {
  cursor: pointer;
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 15px;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  background-color: #000000;
  width: 220px; 
  height: 40px;
  align-self: center;
  margin-top: 20px;
  
}

.loading-div {
  background-color: #32b9cd;
  width: 50px;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

#div_erros_login {
  display: none
}

/* FORMULARIO */

.alerta_erro {
  display: flex;
  justify-content: flex-end;
}

.card_erro {
  display: none;
  background-color: #fff;
  color: black;
  width: 230px;
  position: fixed;
  border-radius: 4px;
  border: #cd547c 3px solid;
  padding: 10px;
  margin-right: 10%;
}

.card_erro #mensagem_erro {
  font-weight: 500;
  font-size: 20px;
}

.formulario .tipo_campo {
  font-size: 20px;
  font-weight: 600 !important;
}

.formulario {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 10px;
  border: 2px solid #32b9cd;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

.btn {
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: #ED145B;
  width: 120px;
  align-self: center;
  margin-top: 5px;
}

.loading-div {
  width: 50px;
  margin: auto;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

/* ALERTA */

#alerta {
  position: absolute;
  right: 0;
  bottom: 0;
}

.mensagem-alarme {
  background-color: white;
  border-radius: 5px;
  width: 300px;
  height: 80px;
  margin: 10px;
  padding: 10px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.mensagem-alarme h3 {
  font-size: 14px;
  margin: 0;
}

.mensagem-alarme .informacao {
  width: 66%;
}

.alarme-sino {
  width: 48px;
  height: 48px;
  animation-name: bell;
  animation-duration: 4s;
  background-image: url('https://cdn-icons-png.flaticon.com/512/1157/1157000.png');
  background-size: cover;
  animation-iteration-count: infinite;
}

@keyframes bell {
  0% {
    transform: rotate(25deg)
  }

  25% {
    transform: rotate(-25deg)
  }

  50% {
    transform: rotate(25deg)
  }

  75% {
    transform: rotate(-25deg)
  }

  100% {
    transform: rotate(25deg)
  }
}


.quiz-container {
  height: 760px;
  background-image: url(../assets/imgs/fundoCards.png);
  background-color: rgb(0, 0, 0);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.container-perguntas{
  width: 80%;
  height: 90%;
}

#pontuacaoEJogo{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  margin-top: 30px;
  border-radius: 30px 30px 30px 30px;
  background-image: url(../assets/imgs/img-quiz.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#infoQuestao{
  align-self: flex-start;
  height: 40px;
  width: 260px;
  background-color: white;
  margin-top:40px;
padding-left: 30px;
font-size: 25px;
border-radius: 0px 40px 40px 0px;
}

#titulo-quiz-quiz {
   display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-self: flex-start;
  height: 320px;
  width: 270px;
  font-family: 'TimesCond';
  color: #ffffff;
  font-size: 130px;
  font-weight: 500;
  padding-top: 20px;
  padding-left: 20px;

}

#titulo-quiz {
   display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  height: 120px;
  width: 100%;
  font-family: 'Akzidenz';
  color: #d7cccc;
  font-size: 30px;
  font-weight: 500;
  padding-top: 10px;

}


#btnIniciarQuiz{
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 12px;
  gap: 8px;
  height: 54px;
  width: 230px;
  border: none;
  background: #ffffff;
  border-radius: 20px;
  cursor: pointer;
}

#btnIniciarQuiz img{
  width: 40px;
  height: 40px;

}
.btn-comecar{
  font-size: 25px;
  color: #000;
}

#btnIniciarQuiz:hover {
  color: #fff;
}

#btnIniciarQuiz:hover img{
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


#pontuacao {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  background-color: #cd547c;
  width: 100%;
  height: 90%;
}

#pontuacao .resultado {
  padding-left: 10px;
  width: 50%;
  height: 20%;
  align-self: flex-start;
  font-size: 30px;
}

.container-pontuacoes{
  display: flex;
  flex-direction: row;
  justify-self: center;
  width: 95%;
  height: 60%;
  
}

#pontuacaoDuranteJogo{
  background-image: url(../assets/imgs/pontuacao.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 40%;
  height: 100%;
    align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#pontuacaoDuranteJogo img {
  width: 100%;
  height: 100%;
}

#spanCertas {
  font-size: 50px;
  align-self: center;
  font-weight: bold;
  font-family: 'TimesCond';
}

#spanErradas {
  font-size: 50px;
  align-self: center;
  font-weight: bold;
  font-family: 'TimesCond';
}

#pontuacaoFinalJogo{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: #59df3f;
  width: 60%;
  height: 100%;

}
#pontuacaoFinal {
  font-size: 30px;
  align-self: center;
  font-weight: bold;
  font-family: 'TimesCond';
}

#spanPontuacaoFinal{
  font-size: 50;
}

#jogo {
  display: flex;
  flex-direction: column;
  background-color: #5d5682;
  border-radius: 10px;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

#perguntaDaQuestaoAtual{
  font-size: 34px;
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  background-color: #6e241e;
}

#opcoes {
  font-size: 23px;
  width: 97%;
  height: 20%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  padding-left: 20px;
  background-color: #570408;
}

#botoes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #9EABBC;
  width: 60%;
  height: 10%;
  justify-content: space-evenly;
  padding-left: 40px;
  margin-bottom: 40px; 
}

#botoes button {
  border-radius: 10px;
  height: 50%;

}